[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
PyYAML = "*"
numpy = "*"
matplotlib = "*"
#jupyter = "*"
#ipykernel = "*"
scipy = "*"
pandas = "*"
seaborn = "*"
tqdm = "*"
#black = "*"
#isort = "*"
#xlrd = ">=1.0.0"
#pywin32 = "*"
#torch = "*"
#torchvision = "*"
#pip install torch==1.5.0+cu101 torchvision==0.6.0+cu101 -f https://download.pytorch.org/whl/torch_stable.html
pytorch-lightning = "*"
mlflow = "*"
sklearn = "*"
#python-mnist = "*"
pandas = "*"

[requires]
python_version = "3.7"
